@page "/weather"
@using SescApp.Integration.Schedule.Models
@using SescApp.Integration.Schedule.Models.ScheduleRows
@using SescApp.Integration.Schedule.Services
@using SescApp.Shared.Services
@inject IFormFactor FormFactor
@inject IScheduleService ScheduleService
<PageTitle>Расписание</PageTitle>

<h1>Расписание</h1>

@if (schedule == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Время</th>
                <th>Уроки</th>
            </tr>
        </thead>
        <tbody>

            @if (schedule.Row1 is SimpleScheduleRow row1)
            {
                <tr>
                    <td>09:00-09:40</td>
                    <td>@row1.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row1 is EmptyScheduleRow)
            {

                <tr>
                    <td>09:00-09:40</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row1 is DividedScheduleRow dividedRow1)
            {
                <tr>
                    <td>09:00-09:40</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow1.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow1.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row2 is SimpleScheduleRow row2)
            {
                <tr>
                    <td>09:50-10:30</td>
                    <td>@row2.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row2 is EmptyScheduleRow)
            {

                <tr>
                    <td>09:50-10:30</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row2 is DividedScheduleRow dividedRow2)
            {
                <tr>
                    <td>09:50-10:30</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow2.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow2.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row3 is SimpleScheduleRow row3)
            {
                <tr>
                    <td>10:45-11:25</td>
                    <td>@row3.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row3 is EmptyScheduleRow)
            {

                <tr>
                    <td>10:45-11:25</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row3 is DividedScheduleRow dividedRow3)
            {
                <tr>
                    <td>10:45-11:25</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow3.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow3.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row4 is SimpleScheduleRow row4)
            {
                <tr>
                    <td>11:40-12:20</td>
                    <td>@row4.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row4 is EmptyScheduleRow)
            {

                <tr>
                    <td>11:40-12:20</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row4 is DividedScheduleRow dividedRow4)
            {
                <tr>
                    <td>11:40-12:20</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow4.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow4.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row5 is SimpleScheduleRow row5)
            {
                <tr>
                    <td>12:35-13:15</td>
                    <td>@row5.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row5 is EmptyScheduleRow)
            {

                <tr>
                    <td>12:35-13:15</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row5 is DividedScheduleRow dividedRow5)
            {
                <tr>
                    <td>12:35-13:15</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow5.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow5.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row6 is SimpleScheduleRow row6)
            {
                <tr>
                    <td>13:35-14:15</td>
                    <td>@row6.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row6 is EmptyScheduleRow)
            {

                <tr>
                    <td>13:35-14:15</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row6 is DividedScheduleRow dividedRow6)
            {
                <tr>
                    <td>13:35-14:15</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow6.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow6.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            @if (schedule.Row7 is SimpleScheduleRow row7)
            {
                <tr>
                    <td>14:35-15:15</td>
                    <td>@row7.Lesson.View</td>
                </tr>
            }
            else if (schedule.Row7 is EmptyScheduleRow)
            {

                <tr>
                    <td>14:35-15:15</td>
                    <td></td>
                </tr>
            }
            else if (schedule.Row7 is DividedScheduleRow dividedRow7)
            {
                <tr>
                    <td>14:35-15:15</td>
                    <td style="height: 100%; border-bottom-width: 1px;">
                        <table style="width: 100%; height: 100%;">
                            <tr style="height: 100%;">
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow7.FirstLesson.View</td>
                                <td style="width: 50%; height: 100%; padding: 0%;">@dividedRow7.SecondLesson.View</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    private ScheduleModel? schedule;

    protected override async Task OnInitializedAsync()
    {
        schedule = await ScheduleService.GetScheduleAsync(new GetScheduleRequest(ScheduleType.Group, Weekday.Wednesday, 9));
    }
}